.loader {
  width: 100px;
  transition: 2s;
}

.login {
  position: relative;
  right: 5px;
}

.brand-navbar {
  position: relative;
  width: 45px;
}

.margin-10 {
  margin: 10px;
}

.logo {
  width: 100%;
}
